@font-face {
    font-family: "Pixelify Sans";
    src: url(../fonte/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf)
}

*{
    padding: 0;
    margin: 0;
    font-family: "Pixelify Sans", "Comic Sans", Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    padding: 2em 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/fundo_pixelart_selecao_desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    box-sizing: border-box;
}
h1{
    font-weight: normal;
    color: #FFFF11;
    text-shadow: -4px 0px 0px #000000;
    margin-bottom: 0.5em;
    font-size: 4em;
    text-align: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
button{
    background-color: transparent;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}
@keyframes movimento-circular {
    0% {
        transform: rotate(0deg) 
              translateY(1px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) 
              translateY(1px) rotate(-360deg);
    }
}
button img:hover{
    animation: movimento-circular 800ms infinite linear;
}

main button:nth-child(2){
    margin-bottom: 1em;
}
main button:nth-child(4){
    margin-top: 1.5em;
}
ol{
    list-style-type: none;
    box-sizing: border-box;
    height: 495px;
    overflow: hidden;
    padding: 1em;
}
li{
    width: 362px;
    height: 146px;
    font-size: 2.5em;
    box-sizing: border-box;
    text-shadow: -3px 0px 0px #7F514A;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    background-image: url(../imgs/pergaminho_fundo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
    transition: transform 75ms linear, opacity 300ms linear;
}
a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #C07546;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
    body {
        background-image: url(../imgs/fundo_pixelart_selecao_tablet.png);
    }
    h1{
        font-size: 2.5em;
    }
    ol{
        height: 495px;
    }
}
@media only screen and (max-width: 400px) {
    body {
        background-image: url(../imgs/fundo_pixelart_selecao_mobile.png);
    }
    h1{
        font-size: 2em;
        text-shadow: -2px 0px 0px #000000;
    }
    button img{
        width: 49px;
        height: 49px;
    }
    main button:nth-child(4){
        margin-top: 1em;
    }
    ol{
        height: 350px;
    }
    li{
        width: 245px;
        height: 98px;
        font-size: 1.5em;
    }
}